{{template "base" .}}

{{define "content"}}

  <style>
    @font-face {
      font-family: 'ONE-Mobile-POP';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    .friend {
      font-size: 20px;
      font-family: 'ONE-Mobile-POP', cursive;
      margin: auto;
    }

  </style>

  <div style="line-height: 200%;"><br></div>

  <div style="position: relative; max-width: 100%; text-align: center">
    <div class="page" style="background-color:#99ff99">
      <div style="line-height: 200px;"><br></div>
      <div class="friend">

        <img src="/src/static/image/{{index .MushroomNames .CurrentIndex}}.png" alt="is this mushroom?" width="200" height="200">
        <br><br>
        친구는 쓴 맛에 불평불만을 했지만 곧 다시 괜찮아졌다!
        <br>
        <div style="font-size: 40px">친구가 먹은 이 버섯의 이름은 .. {{index .MushroomNames .CurrentIndex}} !!</div>
        <br>
        <form action="/Question0" method="post" style="display: inline-block">
          <input type="submit" class="btn btn-success btn-lg" name="alive" value="계속....." />
        </form>
      </div>
    </div>

  </div>

  <script>
    history.pushState(null, null, "http://localhost:8080/friend_alive");
    window.onpopstate = function(event) {
      history.go(1);
    };
  </script>
{{end}}