{{template "base" .}}

{{define "content"}}

  <style>
    @font-face {
      font-family: 'ONE-Mobile-POP';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    .friend {
      font-size: 20px;
      font-family: 'ONE-Mobile-POP', cursive;
      margin: auto;
    }

  </style>

  <div style="line-height: 200%;"><br></div>

  <div style="position: relative; max-width: 100%; text-align: center">
    <div class="page" style="background-color:#ffcc99">
      <div style="line-height: 200px;"><br></div>
      <div class="friend">

        <img src="/src/static/image/{{index .MushroomNames .CurrentIndex}}.png" alt="is this mushroom?" width="200" height="200">
        <br><br>
        {{if eq .HealthMe 0}}
          친구가 먹고 독버섯을 먹고 쓰러지는 장면이 보인다...<br>하지만 너무 배고프다... 내 정신도 혼미해진다.<br>과연 이 숲에서 안전히 살아나갈 사람이 있을까?
          <br>
          <div style="font-size: 40px">친구가 먹은 이 버섯의 이름은 .. {{index .MushroomNames .CurrentIndex}} !!</div>
          <div style="font-size: 20px">지금까지 이 버섯은 <div style="display: inline-block">{{index .MushroomKills .CurrentIndex}}</div>명의 플레이어를 죽였습니다.</div>
          <br>
          <form action="/result" method="post" style="display: inline-block">
            <input type="submit" class="btn btn-danger btn-lg" name="dead" value="결과창으로 이동" />
          </form>
        {{else}}
          친구는 잠시 정신을 잃고 쓰러졌지만 다시 일어나지 못했다... 아쉽지만 더 이상 친구와의 동행이 불가능할 것 같다.
          <br>
          <div style="font-size: 40px">친구가 먹은 이 버섯의 이름은 .. {{index .MushroomNames .CurrentIndex}} !!</div>
          <div style="font-size: 20px">지금까지 이 버섯은 <div style="display: inline-block">{{index .MushroomKills .CurrentIndex}}</div>명의 플레이어를 죽였습니다.</div>
          <br>
          <form action="/Question0" method="post" style="display: inline-block">
            <input type="submit" class="btn btn-success btn-lg" name="dead" value="계속....." />
          </form>
        {{end}}

      </div>
    </div>

  </div>

  <script>
    history.pushState(null, null, "http://localhost:8080/friend_dead");
    window.onpopstate = function(event) {
      history.go(1);
    };
  </script>
{{end}}