{{template "base" .}}

{{define "content"}}

  <style>
    @font-face {
      font-family: 'ONE-Mobile-POP';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    .dead {
      font-size: 20px;
      font-family: 'ONE-Mobile-POP', cursive;
      margin: auto;
    }


  </style>

  <div style="line-height: 200%;"><br></div>

  <div style="position: relative; max-width: 100%; text-align: center">
    <div class="page_Other" style="background-color: #ffcc99;">
      <div style="line-height: 120px;"><br></div>
      <div class="dead">

        <br><br>
        <img src="/src/static/image/{{index .MushroomNames .CurrentIndex}}.png" alt="is this mushroom?" width="200" height="200">
        <br><br>
        당신은 죽었다!
        <br>
        <div style="font-size: 40px">당신을 죽인 이 버섯의 이름은 .. {{index .MushroomNames .CurrentIndex}} !!</div>
        <div style="font-size: 20px">지금까지 이 버섯은 <div style="display: inline-block">{{index .MushroomKills .CurrentIndex}}</div>명의 플레이어를 죽였습니다.</div>
        <br>
{{/*        <form action="/result" method="post" style="display: inline-block">*/}}
{{/*          <input type="submit" class="btn btn-danger btn-lg" name="dead" value="결과창으로 이동" />*/}}
{{/*        </form>*/}}
        <button type="button" class="btn btn-danger btn-lg" onclick="location.href='/result';">결과창으로 이동</button>
      </div>

    </div>

  </div>

{{/*  <script>*/}}
{{/*    history.pushState(null, null, "https://mushroomsms.herokuapp.com/you_dead");*/}}
{{/*    window.onpopstate = function(event) {*/}}
{{/*      history.go(1);*/}}
{{/*    };*/}}
{{/*  </script>*/}}

{{end}}
