{{template "base" .}}

{{define "content"}}

    <style>

        a:link { color: #262223; text-decoration: none;}
        a:visited { color: #262223; text-decoration: none;}
        /*a:hover { color: black; text-decoration: none;}*/

        .big_box {
            background-color: #d9b3ff;
            height: 720px;
            text-align: center;
        }

        #start_message {
            font-size: 80px;
            font-family: 'Archivo Black', sans-serif;
        }

    </style>

    <div style="line-height: 200%;"><br></div>

    <div class="big_box">
        <div style="line-height: 270px;"><br></div>
        <div id="start_message">
            <a href="/">Start</a>
            <br>
            <div style="font-size: 20px; font-family: 'Jua', cursive;">잠시만 기다려 주세요. 다른 플레이어가 플레이하고 있습니다!<br>(Start 버튼을 눌러 상태를 새로고침할 수 있습니다)</div>
        </div>
    </div>
{{end}}